/*
Footer

Podstawowa stopka strony

Markup: ../../templates/_partials/footer.njk

Style guide: partials.footer
*/
.app-footer {
  position: relative;
  font-size: calculateRem(13px);

  &__row {
    padding: 40px 0;
    border-top: 4px color('PRIMARY') solid;
  }
}