.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: #ffffff url('../images/background.jpg') calc(50% + 600px) -150px no-repeat fixed;
  //background: #ffffff url('../images/background2.jpg') center center no-repeat fixed;
  //background-size: cover;
}

.app-main {
  flex: 1 0 auto;
  padding: 0;
  z-index: 2;
}

.app-section {
  position: relative;
  padding: 80px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--bg-light {
    color: color('PRIMARY');
    background: #ffffff;
  }

  &--bg-primary {
    color: #ffffff;
    background-color: color('PRIMARY');
  }

  &--bg-secondary {
    color: #ffffff;
    background-color: color('SECONDARY');
  }

  &--bg-fixed {
    background-attachment: fixed;
  }

  &--small-padding {
    padding: 60px 0;
  }
}

.app-component {
  position: relative;
  width: 100%;
}

.col-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: baseline;
}