{% import "_components/components.njk" as components %}
{% set slug = 'team' %}
{% set title = 'Hanna Pruchniewska - kandydaci na radnych' %}
{% extends "_layouts/default.njk" %}
{% block content %}
    <div class="app-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        <section class="section-title section-title--light || app-component text-center">
                            <h2 class="section-title__text">Moi kandydaci na radnych</h2>
                        </section>
                        <section class="team-list || app-component">
                            <div class="team-list__items">
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=1')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 1</small>
                                                <p>Margareta Kowalska</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=5')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 2</small>
                                                <p>Aneta Nowak-Szymańska</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=26')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 3</small>
                                                <p>Klaudia Loremipsum</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=10')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 4</small>
                                                <p>Justyna Black</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=1')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 1</small>
                                                <p>Margareta Kowalska</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=5')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 2</small>
                                                <p>Aneta Nowak-Szymańska</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=26')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 3</small>
                                                <p>Klaudia Loremipsum</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=10')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 4</small>
                                                <p>Justyna Black</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=1')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 1</small>
                                                <p>Margareta Kowalska</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=5')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 2</small>
                                                <p>Aneta Nowak-Szymańska</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=26')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 3</small>
                                                <p>Klaudia Loremipsum</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list__item">
                                    <div class="team-member">
                                        <div class="team-member__content">
                                            <a href="./member.html" class="team-member__picture" style="background-image: url('http://i.pravatar.cc/400?img=10')">
                                                <span class="team-member__short-text">
                                                    <span>
                                                        <span>Dowiedz się więcej</span><i class="hp-icon hp-icon--angle-right"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="./member.html" class="team-member__name">
                                                <small>Okręg numer 4</small>
                                                <p>Justyna Black</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
