<footer class="app-footer">
    <div class="app-footer__content">
        <div class="container">
            <div class="app-footer__row">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>&copy;</strong> Copyright 2018 by <strong>Hanna Pruchniewska</strong></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="frontcode-signature">
                            Made with <i class="hp-icon--heart"></i> by <a href="//frontcode.pl"><img src="assets/images/frontcode.svg" alt="frontcode"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>