@font-face {
  font-family: 'HP-Icons';
  src:  url('fonts/HP-Icons.eot?nae8z7');
  src:  url('fonts/HP-Icons.eot?nae8z7#iefix') format('embedded-opentype'),
    url('fonts/HP-Icons.ttf?nae8z7') format('truetype'),
    url('fonts/HP-Icons.woff?nae8z7') format('woff'),
    url('fonts/HP-Icons.svg?nae8z7#HP-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hp-icon--"], [class*=" hp-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HP-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hp-icon--angle-down:before {
  content: "\e907";
}
.hp-icon--angle-right:before {
  content: "\e906";
}
.hp-icon--next:before {
  content: "\e905";
}
.hp-icon--email-linear:before {
  content: "\e903";
}
.hp-icon--phone-linear:before {
  content: "\e904";
}
.hp-icon--fb:before {
  content: "\e901";
}
.hp-icon--email:before {
  content: "\e902";
}
.hp-icon--heart:before {
  content: "\e900";
}
