form {
  display: block;
}

fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;

  & + & {
    margin-top: 20px;
  }
}

input:not([type="checkbox"]):not([type="radio"]), select, textarea {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: calculateRem(14px);
  border: 1px rgba(color('PRIMARY'), .25) solid;
  border-radius: 6px;
  resize: none;

  @include placeholder {
    font-weight: 300;
    font-style: italic;
    color: #a7a7a7;
  }
}

input[type="submit"] {
  display: inline-block;
  width: auto;
  padding: 15px 30px;
  color: #ffffff;
  background: color('PRIMARY');
  cursor: pointer;
  letter-spacing: .05em;

  &:hover {
    color: #ffffff;
    background: color('SECONDARY');
  }
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../images/down-arrow.png') right 15px center no-repeat;
  background-size: 10px;
}

select::-ms-expand {
  display: none;
}

textarea {
  min-height: 75px;
}

label, .form-label {
  display: block;
  font-style: italic;
  font-weight: 400;
  cursor: pointer;

  > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    input {
      cursor: pointer;
    }
  }

  & + input, & + select, & + textarea {
    margin-top: 5px;
  }
}

.jcf-checkbox, .jcf-radio {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px currentColor solid;
  border-radius: 4px;
  cursor: pointer;
}

.jcf-checkbox span {
  height: 6px;
  width: 10px;
}

.jcf-focus, .jcf-focus *, .jcf-checked, .jcf-checked * {
  border-color: color('SECONDARY') !important;
}